       h1 {
            font-size: 145%;
            font-family: Trebuchet MS;
            color: #222;
            text-shadow:-1px -1px #000,0 1px 0 #444;
            text-align: left;
            padding: 25px 24px;
            margin: 0;
       }
       h2 {
            font-size: 145%;
        font-family: Trebuchet MS;
        color: #ffd700;
        text-align: midle;
        padding: 600px 250px
        margin: 0;

       }

        .appoinment-header {
            margin: 10;
        }
        body {
        position: centre;
        background-image: url(Best-fone.jpg)
         }
        header {
            position: relative;
            padding: 10px -15px
            line-height: -190px;
            height: 100px; /* Высота шапки */
            background: #E6E6FA ;
            text-align: center; /* Выравнивание по центру */
            vertical-align: text-top;
            margin: -10px;
            opacity: 0.95;
    }

       .btn-group a {
            margin: -3px;
            font-family: Trebuchet MS;
            margin-top: -30px !important;
            color: black; /* Белый текст */
            padding: 9px 50px; /* Некоторый отступ */
            text-decoration: none;
            float: left 10px; /* Выстраиваем кнопки рядом друг с другом */
            vertical-align: text-top;
    }



    /* Добавляем фон при наведении курсора */
    .btn-group a:hover {
      border-bottom: 2px solid maroon;
      padding-bottom: 2px;
    }

            .brd {
        border: 4px ; /* Параметры границы */
        padding: 15px; /* Поля вокруг текста */
       }


.btn-group_2 {
            text-align: right;
            margin-top: -35px;
            padding: 8px 20px; /* Некоторый отступ */
        }



            .btn {
            position: relative;
            height: 10px;
            width: 9%;
            text-align: center;
            margin-top: -45px;

            margin: -3px;
            font-family: Trebuchet MS;
            margin-top: -30px !important;
            color: black; /* Белый текст */
            text-decoration: none;
            padding: 3px 20px;
            left: -30px;
            vertical-align: text-top;

        }


        .btn:hover {
            border-bottom: 2px solid maroon;
            padding-bottom: 2px;
        }

