<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>DanielForum</title>
    <link rel="stylesheet" href="{% static 'register.css' %}" type="text/css"/>
</head>
<body>
<header>
    <h1>Web-Forum</h1>
    <div class="btn-group">
        <a href="/home">
            <button>Главная</button>
            </a>
                <button>Форум</button>
                <button>О разработчике</button>
    </div>
    <div class="butthon-1">
    <a href="register"><button class="button button1">Регистрация</button></a>
    <a href="login"><button class="button button2">Авторизация</button></a>
    </div>
</header>
<div class="brd">
</div>
<div class="form_auth_block">
    <div class="form_auth_block_content">
        <p class="form_auth_block_head_text">Регистрация</p>
        <form class="form_auth_style" action="create" method="post">
            {% csrf_token %}
            <label>Придумайте логин:</label>
            <input name="login" placeholder="Логин" required>
            <label>Придумайте пороль:</label>
            <input type="password" name="password" placeholder="Пароль" required>
            <button class="form_auth_button" type="submit" value="send" url=’http://user_cabinet’/ name="form_auth_submit">Войти</button>
        </form>
        </div>
</div>
</body>
</html>